* {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.stage {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 16px;
}

.job {
  background-color: blue;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
}
