* {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.stage {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 16px;
  margin-right: 32px;
  display: inline-block;
  min-height: 600px;
}

.job {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  border-radius: 4px;
  padding: 8px;
  color: #fff;
}

div.scroll {
  white-space: nowrap;
}
